<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title of the document</title>
    <!-- Material Icon CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Your custom styles -->
    <link rel="stylesheet" href="/css/style.css">
    
    <!-- Used as an example only to position the footer at the end of the page.
    You can delete these styles or move it to your custom css file -->

</head>

<body>
    <header>
        <nav class="black">
            <div class="nav-wrapper">
                <div class="container">
                    <a href="/" class="brand-logo">NEWS SCRAPPER</a>
                    <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="/scraper">Scrapp some News</a></li>
                        <li><a href="/table">Look on my Notes</a></li>
                        <li><a href="/drop">Delete All</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-menu">
                        <li>
                            <div class="userView">
                                <div class="background">
                                    <img src="http://lorempixel.com/output/abstract-q-c-640-480-10.jpg" alt="Background Sidenav">
                                </div>
                            </div>
                        </li>
                        <li><a href="/scraper">Scrapp some News</a></li>
                        <li><a href="/table">Look on my Notes</a></li>
                        <li><a href="/drop">Delete All</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
       {{{body}}}
    </main>
    <footer class="page-footer black">
        <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright Text
            </div>
        </div>
    </footer>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Materialize JS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>