<div class="slider">
    <ul class="slides">
        {{#each sort}}
        <li>
            <img src="../images/Ethereum-coin-1000x500.jpg" alt="">
            <!-- random image -->
            <div class="caption left-align">
                <h3>{{this.title}}</h3>
            </div>
        </li>
        {{/each}}
    </ul>
</div>