<div class="slider">
    <ul class="slides">
        <li>
            <img src="../images/Ethereum-coin-1000x500.jpg" alt="">
            <!-- random image -->
            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="../images/Woman-mask-2-1000x500.jpg" alt="">
            <!-- random image -->
            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
    </ul>
</div>